*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times new roman', Times, serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #534a5f;
  color: white;
  font-size: 5rem;
}